<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imageViews</key>
	<array>
		<string>img1</string>
		<string>img2</string>
		<string>img3</string>
		<string>img4</string>
		<string>img5</string>
		<string>img6</string>
		<string>img7</string>
		<string>img8</string>
		<string>img9</string>
		<string>img10</string>
		<string>img11</string>
	</array>
</dict>
</plist>
